{% extends 'base.html' %}
{% block headermenu %}
    <div class="inner">
        <h3 class="masthead-brand">Eventex</h3>
        <ul class="nav masthead-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/inscricao/">Inscrição</a></li>
        </ul>
    </div>
{% endblock headermenu %}
{% block content %}
    <div class="_details">
        <h1>Parabéns {{ subscription.name }}!</h1>

        <h3>Inscrição realizada com sucesso em {{ subscription.created_at|date:"d/m/Y" }}!</h3>

        <p>
            Entraremos em contato!
        </p>
        <p>
            {% if subscription.phone %}
                telefone {{ subscription.phone }}
            {% endif %}
        </p>
        <p>
            {% if subscription.email %}
                e-mail {{ subscription.email }}
            {% endif %}
        </p>
    </div>
{% endblock content %}