{% extends 'base.html' %}
{% block headermenu %}
    <div class="inner">
        <h3 class="masthead-brand">Eventex</h3>
        <ul class="nav masthead-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/inscricao/">Inscrição</a></li>
        </ul>
    </div>
{% endblock headermenu %}

{% block content %}
    <div class="_home">
        <h1 class="cover-heading">Bem vindo ao Eventex!</h1>

        <p class="lead">
            O evento mais sensacional do ano depois do Dev in Rio!
        </p>

        <p class="lead">Você não pode perder esta oportunidade!</p>

        <p class="lead">
            <a href="/inscricao/" class="btn btn-lg btn-default">
                Inscrições abertas!
            </a>
        </p>
    </div>
{% endblock content %}