<!DOCTYPE html>
<html>
<head>
    <title>Eventex</title>
    <link type="text/css" href="{{ STATIC_URL }}css/bootstrap.css"
          rel="stylesheet" media="screen">
    <link type="text/css" href="{{ STATIC_URL }}css/bootstrap-theme.css"
          rel="stylesheet" media="screen">
    <link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet"
          media="screen">

    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Eventex</h3>
                    <ul class="nav masthead-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="eventex@eventex.com">Contato</a></li>
                    </ul>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Bem vindo ao Eventex!</h1>

                <p class="lead">
                    O evento mais sensacional do ano depois do Dev in Rio!
                </p>

                <p class="lead">Você não pode perder esta oportunidade!</p>

                <p class="lead">
                    <a href="#" class="btn btn-lg btn-default">
                        Inscrições abertas no próximo domingo!
                    </a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    ;)
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>